:root {
  --verde-oscuro: #073501; /* Color verde oscuro */
  --rojo-oscuro: #3d0000; /* Color rojo oscuro */
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: #073501;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d0000;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.parallax-completo {
  width: 100%;
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.664) 100%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../img/idi2o.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Añade esta línea para que los elementos se posicionen uno debajo del otro */
  text-align: center; /* Añade esta línea para centrar el texto */
}

.title-container {
  top: 30vh; /* Ajustar la posición en pantallas más grandes */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
  width: 90vw;
  margin: auto; /* Centrar horizontalmente */
  margin-top: 14vw;
}

.title-container p {
  backdrop-filter: blur(8px); /* Aplica un desenfoque de 8px al fondo */
  background-color: rgba(0, 0, 0, 0.219); /* Fondo semi-transparente */
  margin-top: 4vw;
  color: white;
  text-wrap: wrap; /* No existe la propiedad 'text-wrap', puede que quisieras decir 'white-space' */
  font-size: 1.5vw;
}

#title {
  font-family: "system-ui";
  font-size: 6vw;
  background-color: transparent;
  text-align: start;
  color: white;
}

.btn-one {
  font-family: "system-ui";
  font-weight: bold;
  font-size: 10vw;
  color: black;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-bottom: 2px solid red;
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

/* Estilos para los botones */

.btn-container {
  display: flex;
  gap: 90px;
  margin: 25px;
  align-items: center;
}

.btn-info {
  flex-grow: 1;
  flex-basis: 100;
  backdrop-filter: blur(10px) brightness(0.8);
  padding: 50px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.3s;
  border-radius: 20px;
  box-shadow: 0 4px 6px 6px rgba(0, 0, 0, 0.5);
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centra horizontalmente */
}

.btn-info:hover {
  transform: scale(1.1);
  backdrop-filter: blur(10px) brightness(0.8);
  transition: all 0.3s;
  cursor: pointer;
}

.btn-info p {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

section {
  margin: 2vw 0 2vw 0;
}

.nav-esp {
  display: flex;
  gap: 50px;
  list-style: none;
  justify-content: center;
  background-color: #f5f5f5;
  margin: 0 5vw 0 5vw;
}

.nav-esp li {
  padding: 0.5vw 3vw 0.5vw 3vw;
  font-size: 1.6vw;
}

.especialidades-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  margin: 0 15vw 4vw 15vw;
  gap: 5vw;
}
.especialidades-cont h2 {
  font-size: 3vw;
}
.especialidades-cont p {
  text-wrap: wrap;
  font-size: 1.5vw;
  margin-top: 1.5vw;
}

#informatica {
  display: block;
  transition: display 0.3s;
}
#electronica,
#construcciones {
  transition: display 0.3s;
  display: none;
}

.especialidades-cont button {
  margin-top: 5vw;
  font-size: 1.5vw;
  padding: 0.7vw 2.5vw;
  color: white;
  background: #f85c70;
  border: none;
  transition: all 0.3s;
  position: relative;
  left: 41.6%;
}
.especialidades-cont button:hover {
  background: #f63750;
  transform: scale(1.2);
  transition: all 0.3s;
}

@media (max-height: 1080px) and (max-width: 1920px) {
  .parallax-completo {
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
  .parallax-completo {
    width: 100%;
    height: 110vw;
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.664) 100%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../img/idi2_OLD.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Añade esta línea para que los elementos se posicionen uno debajo del otro */
    text-align: center; /* Añade esta línea para centrar el texto */
  }
  .options a {
    font-size: 12px; /* Reduce el tamaño de fuente de los enlaces */
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #logo {
    width: 40px; /* Redimensiona el logo */
  }

  .title-container {
    margin-top: 5vw; /* Ajusta la posición vertical del título */
    width: 100vw; /* Establece el ancho al 100% de la ventana */
    text-align: center;
    align-items: center;
  }
  .title-container div p {
    margin-top: 7vw;
    text-align: center;
    font-size: 3.5vw;
  }
  .title-container div {
    margin: 7vw 7vw 0 7vw;
  }

  #title {
    font-size: 10vw;
    text-align: center; /* Reduce el tamaño de fuente del título */
    /* transform: translateX(80px); */
  }

  .btn-one {
    margin-top: 10vw; /* Ajusta el margen superior del botón */
    font-size: 4vw; /* Reduce el tamaño de fuente del botón */
  }

  .footer-info h3,
  .footer-nav h3,
  .footer-social h3 {
    font-size: 20px; /* Ajusta el tamaño de fuente de los títulos del footer */
  }

  .footer-nav ul li a,
  .footer-social ul li a {
    font-size: 15px; /* Ajusta el tamaño de fuente de los enlaces del footer */
  }

  .footer-bottom {
    font-size: 15px; /* Ajusta el tamaño de fuente del contenido del footer */
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    align-items: center;
    transform: translateY(-15px);
  }

  .btn-info {
    flex-grow: 1;
    flex-basis: 100;
    backdrop-filter: blur(10px) brightness(0.8);
    width: 50%;
    height: 2vh;
    margin-bottom: 20px;
    text-align: center;
    transition: all 0.3s;
    border-radius: 20px;
    box-shadow: 0 4px 6px 6px rgba(0, 0, 0, 0.5);
    color: white;
  }

  .btn-info p {
    transform: translateY(-10px);
  }

  .btn-info img {
    transform: translateY(-10px);
    margin-top: -25px;
    width: 25%;
    margin-bottom: -20px;
  }

  .location iframe {
    width: 70vw;
    height: 70vw;
  }

  .nav-esp {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    background-color: #f5f5f5;
    margin: 0 20vw 0 20vw;
  }

  .nav-esp li {
    font-size: 4vw;
    margin-top: -1vw;
  }

  .especialidades-cont {
    text-align: center;
    margin-top: 5vw;
  }

  .especialidades-cont h2 {
    font-size: 7vw;
  }

  .especialidades-cont p {
    text-align: justify;
    font-size: 4vw;
    margin-top: 5vw;
  }

  .especialidades-cont button {
    font-size: 3vw;
    padding: 2vw 5vw;
    color: white;
    background: #f85c70;
    border: none;
    transition: all 0.3s;
    left: 1px;
  }
  .especialidades-cont button:hover {
    background: #f63750;
    transform: scale(1.2);
    transition: all 0.3s;
  }
}
