footer {
  background-color: #000000c9;
  backdrop-filter: blur(10px) brightness(0.8);
  padding: 10px; /* Ajusta el padding para hacer el footer menos alto */
  user-select: none;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si el espacio es insuficiente */
  user-select: none;
}

.footer-nav,
.footer-names,
.footer-social {
  flex: 1;
  z-index: 1000; /* Asigna un z-index alto */
  user-select: none;
}

.footer-names {
  text-align: center; /* Centra el texto horizontalmente */
  user-select: none;
}

.footer-names creators {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  user-select: none;
}

.footer-names a {
  display: block;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  user-select: none;
}
.footer-names p {
  color: white;
}

.footer-names a:last-child {
  margin-bottom: 0; /* Elimina el margen inferior del último nombre */
}

.footer-names a:hover {
  color: #000;
}

.footer-nav ul,
.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; /* Alinea el texto en el centro */
  user-select: none;
}

.footer-nav a,
.footer-names a {
  display: inline-block; /* Cambiado de block a inline-block para que estén en línea */
  margin-right: 10px; /* Añade un margen entre los nombres */
  color: #0000008a;
  font-size: 12px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  user-select: none;
}

.footer-nav a:last-child,
.footer-names a:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.footer-nav a:hover,
.footer-names a:hover {
  color: #2f0064;
}

.footer-social li {
  display: inline-block;
  margin-right: 10px;
  user-select: none;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  user-select: none;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; /* Alinea el texto en el centro */
  display: flex; /* Utiliza flexbox para distribuir los botones horizontalmente */
  justify-content: center; /* Centra horizontalmente */
}

.footer-nav li {
  margin-right: 10px; /* Añade un margen entre los botones */
}

.footer-nav li:last-child {
  margin-right: 0; /* Elimina el margen derecho del último botón */
}

.footer-social img {
  width: 35px;
  background-color: rgb(255, 255, 255);
  border: 1px solid white;
  height: auto;
  border-radius: 100%;
  transition: background-color 0.3s ease; /* Añadimos una transición suave para el color de fondo */
  user-select: none;
}

/* Personalización de la sombra para cada red social */
.footer-social img[src="../assets/img/facebook.png"]:hover {
  background-color: rgb(
    59,
    89,
    153
  ); /* Cambia el color de fondo al hacer hover para Facebook */
}

.footer-social img[src="../assets/img/correo.png"]:hover {
  background-color: rgb(
    255,
    0,
    0
  ); /* Cambia el color de fondo al hacer hover para Twitter */
}

.footer-social img[src="../assets/img/instagram.png"]:hover {
  background-color: rgb(
    216,
    40,
    119
  ); /* Cambia el color de fondo al hacer hover para Instagram */
}

.footer-social img[src="assets/img/facebook.png"]:hover {
  background-color: rgb(
    59,
    89,
    153
  ); /* Cambia el color de fondo al hacer hover para Facebook */
}

.footer-social img[src="assets/img/correo.png"]:hover {
  background-color: rgb(
    255,
    0,
    0
  ); /* Cambia el color de fondo al hacer hover para Twitter */
}

.footer-social img[src="assets/img/instagram.png"]:hover {
  background-color: rgb(
    216,
    40,
    119
  ); /* Cambia el color de fondo al hacer hover para Instagram */
}

.contact-button {
  width: auto; /* Ancho automático para adaptarse al contenido */
  padding: 6px; /* Ajusta el espaciado interno */
  font-size: 14px; /* Tamaño de fuente más grande fuera del media query */
  background-color: black;
  color: white;
  text-decoration: none;
  border: 1px solid white; /* Grosor del borde aumentado */
  border-radius: 6px; /* Borde más redondeado */
  transition: background-color 0.4s ease, color 0.3s ease; /* Añade una transición suave para el color de fondo y el color del texto */
  cursor: pointer;
  user-select: none;
}

.contact-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black; /* Cambia el color del borde en hover */
}

@media screen and (max-width: 768px) {
  footer {
    padding-top: 25px; /* Ajusta el padding para hacer el footer menos alto */
  }

  .footer-content {
    flex-direction: column; /* Apila los elementos verticalmente en dispositivos pequeños */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .footer-social ul {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-bottom: 10px; /* Añade espacio entre los elementos */
  }

  .footer-nav {
    margin-bottom: 20px;
  }

  .contact-button {
    width: 100%; /* Ancho completo en dispositivos pequeños */
    font-size: 12px; /* Tamaño de fuente más pequeño dentro del media query */
    padding: 5px; /* Espaciado interno más pequeño dentro del media query */
  }
}
