*{
  -webkit-tap-highlight-color: transparent;
}
#navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: -20px;
  width: 20%;
  height: 100%;
  padding: 5px 5px;
  box-sizing: border-box;
  background: transparent;
  transition: all 0.3s;
  user-select: none;
  pointer-events: none; /* Deshabilitamos los eventos de puntero en el navbar */
}

#navbar *,
#navbar *::before,
#navbar *::after {
  pointer-events: auto; /* Permitimos eventos de puntero en todos los elementos dentro del navbar */
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 6vw;
  margin-right: 85vw;
  transition: all 0.3s;
  user-select: none;
}

#nav-content {
  display: none;
  flex-direction: column;
  user-select: none;
}

#nav-content a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.3s ease;
  cursor: default;
  font-size: 1.5vw;
  user-select: none;
}

#nav-content a:hover {
  transform: scale(1.15);
  font-weight: 600;
}

#logo img {
  position: absolute;
  cursor: pointer;
  height: 50px;
  width: auto;
  border-radius: 0%;
  transition: all 0.3s ease;
  animation: logoAnimation 2s infinite;
  user-select: none;
}


#logo p:hover, img:hover {
  transform: scale(1.1);
}

#logo p {
  background-color: transparent; /* Fondo negro con transparencia */
  backdrop-filter: blur(10px); /* Aplica un efecto de desenfoque al fondo */
  border-radius: 100%;
  width: fit-content; /* Ajusta el ancho al tamaño máximo del texto */
  color: rgb(255, 0, 0);
  position: relative;
  left: 20px;
  top: 50px;
  font-size: 1.5vw;
  cursor: pointer;
  font-weight: 600;
  user-select: none;
  transition: all 0.3s ease;
}


#logo p:first-letter {
  color: green;
}

.dropbtn {
  background-color: transparent;
  border: none;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.3s ease;
  cursor: default;
  font-size: 1.5vw;
  display: flex;
  user-select: none;
}

.nav-content img {
  width: 15px;
  transform: translateY(7px);
  margin-left: 10px;
  filter: invert();
  user-select: none;
}

.dropbtn:hover {
  transition: all .3s ease;
  transform: scale(1.15);
  font-weight: 600;
}

.dropdown-content {
  display: none;
  position: relative;
  top: 1px;
  left: 20px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  user-select: none;
}

.dropdown-content a {
  background-color: transparent;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: .5vw;
  user-select: none;
}

.dropdown-content a:hover {
  transition: all .3s ease;
  transform: scale(1.15);
  font-weight: 600;
}

.show {
  display: block;
  user-select: none;
}

@media (max-width: 768px) {
  #navbar {
    position: fixed;
    top: 0;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
    background: transparent;
    transition: all 0.3s;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
    margin-right: 85vw;
    transition: all 0.3s;
  }

  #nav-content {
    display: none;
    flex-direction: column;
  }

  #nav-content a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.3s ease;
    cursor: default;
    font-size: 5vw;
  }
  #nav-content a:hover {
    transform: scale(1.15);
    font-weight: 600;
  }

  #logo img {
    position: absolute;
    left: 5px;
    cursor: pointer;
    height: 50px;
    width: auto;
    border-radius: 0%;
    transition: all 0.3s ease;
    animation: logoAnimation 2s infinite;
  }
  #logo img:hover {
    transform: scale(1.1);
  }

  #logo p {
    color: rgb(255, 0, 0);
    position: relative;
    left: 20px;
    top: 45px;
    font-size: 4vw;
    cursor: pointer;
    font-weight: 600;
  }
  #logo p:hover {
    transform: scale(1.1);
  }
}
