:root {
  --verde-oscuro: #073501; /* Color verde oscuro */
  --rojo-oscuro: #3d0000; /* Color rojo oscuro */
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: #073501;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d0000;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.parallax-completo {
  width: 100%;
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.664) 100%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../img/idi2o.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Añade esta línea para que los elementos se posicionen uno debajo del otro */
  text-align: center; /* Añade esta línea para centrar el texto */
}

.blur-container {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(1.5vw);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
}

.blur-container img {
  margin-left: 100px;
  max-width: 70%;
  max-height: 500px; /* Reduce el tamaño máximo de la imagen al 50% del contenedor */
  border-radius: 10px;
  transition: all 0.3s;
}

.title-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin: auto; /* Centrar horizontalmente */
}

.title-container p {
  color: rgb(0, 0, 0);
  text-wrap: wrap;
  font-size: 1.2vw;
  padding: 20px;
}
#ntitle {
  font-family: "system-ui";
  font-size: 3vw;
  background-color: transparent;
  text-align: center;
  color: white;
  text-shadow: -2px -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0),
    -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0);
  user-select: none;
  margin-bottom: 0.5rem;
}

#nsubtitle {
  font-family: "system-ui";
  font-size: 2vw;
  background-color: transparent;
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: -2px -2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255),
    -2px 2px 0 rgb(255, 255, 255), 2px 2px 0 rgb(255, 255, 255);
  user-select: none;
  margin-top: 0;
}

#title,
#subtitle {
  font-family: "system-ui";
  font-size: 4vw;
  background-color: transparent;
  text-align: center;
  color: #ed5251;
}

#subtitle {
  font-size: 3vw;
  font-family: "system-ui";
}

.btn-one {
  font-family: "system-ui";
  font-weight: bold;
  font-size: 2vw;
  color: black;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-bottom: 2px solid red;
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

/* Estilos para los botones */

.btn-container {
  display: flex;
  gap: 40px;
  margin: 25px;
  align-items: center;
}

.btn-info {
  flex-grow: 1;
  flex-basis: 100;
  backdrop-filter: blur(10px) brightness(0.8);
  padding: 50px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.3s;
  border-radius: 20px;
  box-shadow: 0 4px 6px 6px rgba(0, 0, 0, 0.5);
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centra horizontalmente */
}

.btn-info:hover {
  transform: scale(1.1);
  backdrop-filter: blur(10px) brightness(0.8);
  transition: all 0.3s;
  cursor: pointer;
}

.btn-info p {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.objective {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.obj-left,
.obj-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.obj-middle {
  flex: 2;
}

.obj-text {
  padding: 20px;
}
.obj-text h2 {
  text-align: center;
  font-size: 3rem;
  color: green;
}

.obj-text p {
  font-size: 20px;
  text-align: center;
}

.obj-left img,
.obj-right img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.unete {
  text-align: center;
  margin: 4vw 10vw;
  text-wrap: wrap;
}
.unete h2 {
  color: #ed5251;
  font-size: 3.5vw;
  margin-bottom: 1.5vw;
}
.unete p {
  font-size: 1.5vw;
}

.unete button {
  margin-top: 3vw;
  font-size: 1.5vw;
  padding: 0.7vw 2.5vw;
  color: white;
  background: #f85c70;
  border: none;
  transition: all 0.3s;
}
.unete button:hover {
  background: #f63750;
  transform: scale(1.1);
  transition: all 0.3s;
}

@media (max-height: 1080px) and (max-width: 1920px) {
  .parallax-completo {
    height: 0vh;
  }
}

@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
  .parallax-completo {
    width: 100%;
    height: 80vw;
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.664) 100%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../img/idi2_OLD.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Añade esta línea para que los elementos se posicionen uno debajo del otro */
    text-align: center; /* Añade esta línea para centrar el texto */
  }

  #ntitle {
    font-family: "system-ui";
    font-size: 6vw;
    background-color: transparent;
    text-align: center;
    color: white;
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0),
      -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0);
    user-select: none;
    margin-bottom: 0.5rem;
  }

  #nsubtitle {
    font-family: "system-ui";
    font-size: 5vw;
    background-color: transparent;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: -2px -2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255),
      -2px 2px 0 rgb(255, 255, 255), 2px 2px 0 rgb(255, 255, 255);
    user-select: none;
    margin-top: 0;
  }

  .blur-container {
    backdrop-filter: blur(0);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
  }

  .title-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto; /* Centrar horizontalmente */
  }

  .title-container p {
    color: rgb(0, 0, 0);
    text-wrap: wrap;
    font-size: 100px;
  }

  .blur-container img {
    display: none;
  }

  .options a {
    font-size: 12px; /* Reduce el tamaño de fuente de los enlaces */
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #logo {
    width: 40px; /* Redimensiona el logo */
  }

  .title-container {
    margin-top: 5vw; /* Ajusta la posición vertical del título */
    width: 100vw; /* Establece el ancho al 100% de la ventana */
  }
  .title-container div p {
    margin-top: 7vw;
    text-wrap: wrap;
    font-size: 4vw;
  }
  .title-container div {
    margin: 7vw 7vw 0 7vw;
  }

  #title {
    font-size: 10vw; /* Reduce el tamaño de fuente del título */
  }
  #subtitle {
    font-size: 5vw; /* Reduce el tamaño de fuente del subtítulo */
  }

  .btn-one {
    margin-top: 10vw; /* Ajusta el margen superior del botón */
    font-size: 4vw; /* Reduce el tamaño de fuente del botón */
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    align-items: center;
    transform: translateY(-15px);
  }

  .btn-info {
    flex-grow: 1;
    flex-basis: 100;
    backdrop-filter: blur(10px) brightness(0.8);
    width: 50%;
    height: 2vh;
    margin-bottom: 20px;
    text-align: center;
    transition: all 0.3s;
    border-radius: 20px;
    box-shadow: 0 4px 6px 6px rgba(0, 0, 0, 0.5);
    color: white;
  }

  .btn-info p {
    transform: translateY(-10px);
  }

  .btn-info img {
    transform: translateY(-10px);
    margin-top: -25px;
    width: 25%;
    margin-bottom: -20px;
  }

  .nav-esp {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    background-color: #f5f5f5;
    margin: 0 20vw 0 20vw;
  }

  .nav-esp li {
    font-size: 4vw;
    margin-top: -1vw;
  }

  .unete button {
    margin-top: 10vw;
    font-size: 5vw;
    padding: 2vw 10vw;
    color: white;
    background: #f85c70;
    border: none;
    transition: all 0.3s;
  }
  .unete button:hover {
    background: #f63750;
    transform: scale(1.3);
    transition: all 0.3s;
  }

  .unete {
    text-align: center;
    margin: 7vw 10vw;
    text-wrap: wrap;
  }
  .unete h2 {
    font-size: 7vw;
    margin-bottom: 1.5vw;
  }
  .unete p {
    font-size: 4vw;
  }

  .obj-left,
  .obj-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .obj-middle {
    margin: 50px;
    flex: auto;
  }

  .obj-text h2 {
    font-size: 2rem;
  }

  .obj-text p {
    font-size: 18px;
    text-align: center;
  }

  .obj-left img,
  .obj-right img {
    display: none;
  }
}
